.page-background {
  background-image: url('src/assets/ME10th_th.jpg'); 
  background-repeat: no-repeat; 
  background-position: center; 
  background-size: cover; 
  background-attachment: fixed; 

  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  position: relative;
}